name: Build iOS

on:
  push:
    branches: [ "main", "master" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-ios:
    name: Build iOS (IPA)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
          
      - name: Get Dependencies
        run: flutter pub get
        
      - name: Build iOS (No Codesign)
        run: flutter build ios --release --no-codesign

      - name: Package IPA
        run: |
          mkdir Payload
          mv build/ios/iphoneos/Runner.app Payload/
          zip -r Sync-TV-iOS-Universal-${{ github.ref_name }}.ipa Payload

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: synctv-ios-ipa
          path: Sync-TV-iOS-Universal-${{ github.ref_name }}.ipa

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
          files: Sync-TV-iOS-Universal-${{ github.ref_name }}.ipa



