name: Build Android

on:
  push:
    branches: [ "main", "master" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-android:
    name: Build Android (APK)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
          
      - name: Get Dependencies
        run: flutter pub get
        
      - name: Build APK (Split per ABI)
        run: flutter build apk --split-per-abi --release
        
      - name: Rename APKs
        run: |
          cd build/app/outputs/flutter-apk
          mv app-arm64-v8a-release.apk Sync-TV-Android-arm64_v8a-${{ github.ref_name }}.apk
          mv app-armeabi-v7a-release.apk Sync-TV-Android-armeabi_v7a-${{ github.ref_name }}.apk
          mv app-x86_64-release.apk Sync-TV-Android-x86_64-${{ github.ref_name }}.apk
        
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: synctv-android-apks
          path: build/app/outputs/flutter-apk/Sync-TV-Android-*.apk

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
          files: build/app/outputs/flutter-apk/Sync-TV-Android-*.apk



